@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@charset "UTF-8";
/* Base Styles */
#categoriesContent,
#categoriesContent ul,
#categoriesContent li,
#categoriesContent a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}
#categoriesContent a {
  line-height: 1.3;
}
#categoriesContent {
  width: 100%;
}
#categoriesContent > ul > li > a {
  padding: 5px 40px 5px 5px;
  font-weight: bold;
  display: block;
  background: #BE0000;
  color: #ffffff;
  border-bottom: 1px solid #5e071b;
  text-transform: uppercase;
}
#categoriesContent > ul > li > a > span {
  background: #ed1144;
  padding: 10px;
  display: block;
  font-weight: 300;
}
#categoriesContent > ul > li > a:hover {
  text-decoration: none;
}
#categoriesContent > ul > li.active {
  border-bottom: none;
}
#categoriesContent > ul > li.active > a {
  color: #fff;
}
#categoriesContent > ul > li.active > a span {
  background: #BE0000;
}
#categoriesContent span.cnt, #categoriesContent span.sub-cnt{
  position: absolute;
  top: 6px;
  right: 10px;
  padding: 0;
  margin: 0;
  background: none;
}
/* Sub menu */
#categoriesContent ul ul.sub-ul {
  display: none;
}
#categoriesContent ul ul ul.sub-sub-ul {
  display: none;
}
#categoriesContent ul ul li {
  border: 1px solid #e0e0e0;
  border-top: 0;
}
#categoriesContent ul ul a {
  padding: 5px;
  display: block;
  color: #ed1144;
}
#categoriesContent ul ul a {
  padding: 5px;
  display: block;
  color: #ed1144;
}
#categoriesContent ul ul ul a {
  padding: 5px;
  display: block;
  color: #000000;
}
#categoriesContent ul ul ul li {
  border: 1px solid #e0e0e0;
  border-top: 0;
}
#categoriesContent ul.sub-sub-ul{
  //border: 1px solid #000000;
  margin-left: 10px;
}
#categoriesContent ul ul li.odd {
  background: #f4f4f4;
}
#categoriesContent ul ul li.even {
  background: #fff;
}
#categoriesContent li.has-sub a span.cnt:before{
    content: "+";
}
#categoriesContent li.has-sub.active a span.cnt:before{
    content: "-";
}
#categoriesContent li.has-sub-sub a span.sub-cnt:before{
    content: "+";
}
#categoriesContent li.has-sub-sub.active a span.sub-cnt:before{
    content: "-";
}
#categoriesContent ul li.active ul.sub-ul{
    display: block;
}
#categoriesContent ul li.active ul.sub-ul li.active ul.sub-sub-ul{
    display: block;
}