/* 
    Created on : Sep 11, 2014, 10:43:05 AM
    Author     : bislewl <bislewl@gmail.com>
*/

body{width:100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  background-image: url("../images/bg.png");
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  font-family: "Roboto Condensed",sans-serif;
  font-size: 80%;
  color: #444444;
}

#header{
    background-color:#fff;
}
#disclaimer{
    background-color: red;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
}
#logo{
    float:left;padding-left:15%
}
#moduleName{
    margin-top: 50px;
    margin-left: 200px;
    font-size: 400%;color:#EB8723;
    text-align: right;padding-right:15%
}
#donate{
    float:right;text-align: center;padding-right:15%
}

.etabs { margin: 0; padding: 0; }
.tab { display: inline-block; zoom:1; *display:inline; background: #eee; border: solid 1px #999; border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
.tab a { font-size: 14px; line-height: 2em; display: block; padding: 0 10px; outline: none; }
.tab a:hover { text-decoration: underline; }
.tab.active { background: #fff; padding-top: 6px; position: relative; top: 1px; border-color: #666; }
.tab a.active { font-weight: bold; }
.tab-container .panel-container { background: grey; width:100%; border: solid #666 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }


[id^='tabs-'] {
    white-space: pre-wrap;
    background: white;
    margin-top: -30px;
    border: 1px solid #000000;
}

#tabs-install{
    font-weight: bold;
}
#tabs-about{
    font-weight: bold;padding:15px
}
#readme{
    width: 60%;
    margin:auto;background:#fff
}

#tab-container{
    margin-left: 45px;
    margin-right: 45px;
    padding-left: 15px;
    padding-right: 15px;
}
textarea{
    width: 600px;
    height: 100px;
}
#top-info{
    padding-left: 15px;padding-right: 15px;background:#fff
}
.etabs{
    margin-bottom: 30px;
}
#copyright{
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 15px;
}
#copyright a{
    text-decoration: none;
}
#tabs-license{
    padding-left: 18px;
    padding-right: 18px;
}